ShemasAnnotations/LesDialogues.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
<element name="LesDialogues">
    <complexType>
       <attribute name="type" use="optional">
       <simpleType>
             <restriction base="string">
               <enumeration value="DiscoursDirect"/>
               <enumeration value="DiscoursIndirect"/>
             </restriction>
       </simpleType>
       </attribute>
        <attribute name="kind" use="optional">
        <simpleType>
              <restriction base="string">
                <enumeration value="phrasesEnonciative"/>
                <enumeration value="phrasesInterogation"/>
                <enumeration value="phrasesInterjectif"/>
              </restriction>
        </simpleType>
        </attribute>
    </complexType>
  </element>
</schema>
